html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#renderCanvas {
  width: 100%;
  height: 100%;
  touch-action: none;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
}

#controls-menu,
#inspection-panel {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px;
  padding-right: 0;
  border-radius: 8px;
  z-index: 100;
  font-family: sans-serif;
  color: white;
  min-width: 180px;
  bottom: 15px;
  overflow: auto;
}

#controls-menu h3 {
  margin-top: 0;
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid #555;
  font-size: 16px;
}

#controls-menu button,
#inspection-panel button {
  display: block;
  width: 100%;
  padding: 8px;
  margin-bottom: 5px;
  background-color: #333;
  border: 1px solid #555;
  color: white;
  text-align: left;
  cursor: pointer;
  font-size: 14px;
  border-radius: 4px;
}

#controls-menu button:hover {
  background-color: #555;
  border-color: #777;
}

.control-group {
  margin-top: 15px;
  padding-top: 10px;
  border-top: 1px solid #555;
}

.control-group label {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: bold;
}

.slider-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.slider-container input[type="range"] {
  flex-grow: 1;
}

.slider-container input[type="number"] {
  width: 50px;
  background-color: #222;
  color: white;
  border: 1px solid #555;
  border-radius: 4px;
  padding: 4px;
}
.body-control-group {
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.body-control-group button {
  margin-bottom: 8px;
}

.body-control-group label {
  font-size: 12px;
  color: #ccc;
  display: block;
  margin-bottom: 4px;
}

.body-control-group select {
  width: 100%;
  background-color: #444;
  color: white;
  border: 1px solid #666;
  padding: 5px;
  border-radius: 4px;
}

.time-display {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #555;
}

.time-display p {
  margin: 0 0 5px 0;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
}

.time-display span {
  font-weight: bold;
  font-family: monospace;
  font-size: 15px;
}

.anchor-buttons {
  display: flex;
}
